/* 

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


img {
    max-width: 1000px;
    max-height: 400px;
}

h1 {
    text-align: center;
}





fieldset {
    margin-right: 200px;
    margin-left: 200px;
    font-size: 20px;
}

input {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#email {
    margin-left: 50px;
}

textarea {
    margin-top: 20px;
    margin-left: 25px;
}

.main-index {
    text-align: justify;
    margin-left: 450px;
    margin-right: 450px;
}

.productos {
    margin-top: 50px;
    margin-left: 450px;
    margin-right: 450px;
}

.instrumento {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
}

.instrumento-imagen {
    text-align: center;
    max-width: 150px;
}

.staff {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
}

.empleado-imagen {
    max-width: 300px;
}

.marcas {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
}

.marcas-titulo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contacto {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 450px;
    margin-right: 450px;
    text-align: left;
} 

footer {
    text-align: center;
}

a {
    margin-left: 40px;
    margin-right: 40px;
}

*/

svg {
    width: 96px;
}